<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br/>
    <h1>Learn to Code</h1>
      <h2>Make this the first day of the rest of your life</h2>
      <br/>
      <%= link_to 'Learn More', '#', class: 'btn btn-outline-success' %>
      <br/>
  </div>
</div>