@import "bootstrap";

a {
  color: white;
}

body {
  background-image: image_url('body');
  font-family: 'Josefin Slab', serif;
}

.box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 10px 10px 5px grey;
}

.box a, a.btn, span.badge, input.btn {
  color: black;
  font-family: 'Josefin Slab', serif;
}

.center-block {
  float: none;
  display: table;
  margin: 0 auto;
}

.clr {
  clear: both;
}

.devise {
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.feature {
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  color: #a3a3c2;
  width: auto;
}

.frosty {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.frosty h1 {
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.frosty h2 {
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin-top: 10px;
}

.hero {
  height: 400px;
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
}



.mini-box{
  border: 1px solid #a3a3c2;
  padding: 20px 20px;
  border-radius: 5%;
  margin: 10px;
  width: auto;
}

.navbar {
  background-image: image_url('black_mamba.png');
  font-family: 'Josefin Slab', serif;
}

.navbar-inverse a.navbar-brand {
  font-size: 40px;
  letter-spacing: 2px;
  color: #a3a3c2;
} 

.navbar-toggler-icon {
  padding-top: 60px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 120px;
}
.lesson a {
  color: white;
  font-weight: 100;
}

.lesson a b {
  font-weight: 100px;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;

}
